@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* Fundo do site */
body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    background-color: #0A1744;
    background-image: url(../assets/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*alinhamento no centro do login*/
.main-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
/*parte que foi criado o desfoque da caixa de login*/
.container-login{   
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 48px;
    backdrop-filter: blur(2px);
    border-radius: 10px;
}

h1{
    color: #72EFDB;
    size: 35px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}
/*inicio da estilização dos inputs*/
input[type=text]{
    width: 300px;
    background-color:initial;
    border: none;
    border-bottom: 1px solid rgba(204, 204, 204, 0.2);
    margin-bottom: 20px;
}

input[type=password]{
    width: 300px;
    background-color:initial;
    border: none;
    border-bottom: 1px solid rgba(204, 204, 204, 0.2);
    margin-top: 10px;
    margin-bottom: 40px;

}

input[type=submit]{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: #72EFDB;
    border: none;
    color: #0B1741;
    text-decoration: none;
    display: block;
    margin: 0 auto;
}


input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}


::placeholder{
    color: white;
}

/*Fim da estilização dos inputs*/

.hide-content{
    display: none;
}