<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/style.css">
  </head>
  <body>
    <!--Header Component-->
    <header class="header-container">
        <a class="header-logo" href="../index.html" target="_parent"
          ><img class="header-logo-img" src="../assets/logo.svg" alt=""
        /></a>
        <ul class="header-menu" class="header-menu">
          <a class="base-btn header-menu-button1" href="../sobre.html" target="_parent"><li><img src="../assets/icon-info-circle.svg" alt="!"> SOBRE</li></a>
          <a class="base-btn header-menu-button2" href="../login.html" target="_parent"><li><img src="../assets/icon-power-off.svg" alt="Q"> LOGIN</li></a>
        </ul>
    </header>
  </body>
</html>
