/*FONTS FOR PROJECT*/
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/*BASE STYLE*/
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

/*HEADER*/
.header-container {
  background-color: #0a1744;
  height: 117px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  margin-left: 64px;
}
.header-menu {
  display: flex;
  list-style: none;
  margin-right: 49px;
}
.base-btn {
  width: 170px;
  height: 49px;
  text-align: center;
  line-height: 49px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
}
.header-menu-button1 {
  background-color: #72efdb;
  color: #0a1744;
}
.header-menu-button2 {
  background-color: #1e3e7b;
  margin-left: 35px;
  color: #fff;
}

/*HEADER FOR 768px AND LESS*/
@media screen and (max-width: 768px) {
  .header-container {
    height: 82px;
  }
  .header-logo {
    margin-left: 16px;
    max-width: 23px;
    max-height: 130px;
  }
  .header-logo-img {
    width: 130px;
  }
  .header-menu {
    margin-right: 16px;
  }
  .base-btn {
    width: 105px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }
  .header-menu-button2 {
    margin-left: 13px;
  }
}

/*FOOTER*/
.footer-container {
  display: flex;
  justify-content: center;
  background-color: #0a1744;
  height: 90px;
  line-height: 50px;
  color: #fff;
}
/*FOOTER for 600px AND LESS*/
@media screen and (max-width: 600px) {
  .footer-container {
    line-height: 70px;
    font-size: 12px;
  }
}
