/*FONTS FOR PROJECT*/
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/*BASE STYLE*/
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: #0a1744;
}
.white-text {
  color: #fff;
}
.error {
  border: 2px solid red;
  background-color: #fd8d8d;
}

/*STYLE FOR IFRAME*/
.iframe-header-container {
  height: 117px;
}
@media screen and (max-width: 768px) {
  .iframe-header-container {
    height: 82px;
  }
}
.iframe-footer-container {
  height: 90px;
  margin-bottom: auto;
  color:white
}
.iframe-div {
  margin: 0;
  padding: 0;
  max-height: 90px;
}

/*HEADER*/
.header-container {
  background-color: #0a1744;
  height: 117px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  margin-left: 64px;
}
.header-menu {
  display: flex;
  list-style: none;
  margin-right: 49px;
}
.base-btn {
  width: 170px;
  height: 49px;
  text-align: center;
  line-height: 49px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
}
.header-menu-button1 {
  background-color: #72efdb;
  color: #0a1744;
}
.header-menu-button2 {
  background-color: #1e3e7b;
  margin-left: 35px;
  color: #fff;
}

/*HEADER FOR 768px AND LESS*/
@media screen and (max-width: 768px) {
  .header-container {
    height: 82px;
  }
  .header-logo {
    margin-left: 16px;
    max-width: 23px;
    max-height: 130px;
  }
  .header-logo-img {
    width: 130px;
  }
  .header-menu {
    margin-right: 16px;
  }
  .base-btn {
    width: 105px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }
  .header-menu-button2 {
    margin-left: 13px;
  }
}

/*FOOTER*/
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e3e7b;
  height: 90px;
  color: #fff;
}

/*FOOTER for 600px AND LESS*/
@media screen and (max-width: 600px) {
  .footer-container {
    font-size: 12px;
  }
}

/*ABOUT*/
/*MAIN*/
.about-container{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
}

.about-project {
  
color: white;
display: flex



}


.image-body{

    padding-right: 300px


    
}

.who-are {

color: white;
display: flex


}

.title-about{
    color: white;
    width: 30em;
    
}

.text-1 {

color: white; 



}

.cards {
    


    width: 1500px;
    height: 400px;
    display: flex;
    display: inline-flex;
    padding: 20px 10px 80px;
}


.italo { 
    width: 250px;
    height: 300px;
    border-radius: 6px;
    background-color: #0a1744;
    box-shadow: 0 1px 5px;
    display: inline-block;
    color: white;
    margin: 20px 0px 80px;
}

.melissa {
    width: 250px;
    height: 300px;
    border-radius: 6px;
    background-color: #0a1744;
    box-shadow: 0 1px 5px;
    display: inline-block;
    color: white;
    margin: 20px 30px 80px;
}

.kaique {

    width: 250px;
    height: 300px;
    border-radius: 6px;
    background-color: #0a1744;
    box-shadow: 0 1px 5px;
    display: inline-block;
    color: white;
    margin: 20px 0px 80px
    
}

.josivan{

    width: 250px;
    height: 300px;
    border-radius: 6px;
    background-color: #0a1744;
    box-shadow: 0 1px 5px;
    display: inline-block;
    color: white;
}

.image {

    background-color: #0a1744;
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 50%;
    margin-top: 40px;
    

}

.image img {

    background-color: #0a1744;
    width: 120px;
    height: 120px;
    border-radius: 50%;


}

.card-body{

    background-color: #0a1744;
    padding: 20px;
    padding-top: 1px;
    text-align: center;




}

.card-body h3{
    text-align: center;
   color: rgb(114, 239, 219)
}


.top {

    border-radius: 6px;
    background-color: #0a1744;
    display: flex;
    justify-content: center;
    
        }



h1 {

    font-size: 60px;
    text-align: justify;
    margin-left: 0.5px;

}
    


p{

    text-align: center;
    color: white;

}

h2 {

    font-size: 40px;
  color: white;

	
}

