@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
.header-container {
  background-color: #0a1744;
  height: 117px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  margin-left: 64px;
}
.header-menu {
  display: flex;
  list-style: none;
  margin-right: 49px;
}
.base-btn {
  width: 170px;
  height: 49px;
}
.base-btn {
  text-align: center;
  line-height: 49px;
  border-radius: 25px;
  margin-left: 35px;
  text-decoration: none;
  font-weight: bold;
}
.header-menu-button1 {
  background-color: #72efdb;
  color: #0a1744;
}
.header-menu-button2 {
  background-color: #1e3e7b;
  color: #fff;
}
